body,html{
 cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1162.ani), url(https://cur.cursors-4u.net/anime/ani-12/ani1162.gif), auto !important;
  user-select: none;
  margin: 0;
  background:url(https://cutewallpaper.org/21/repeating-pixel-background/Dark-repeating-background-tumblr-clipart-images-gallery-for-.gif) ;

}